In [15]:
# CELL1 – 2 marks
################################################################################################################################
#  libraries needed for the coursework
%pylab inline
import pandas as pd
from pandas import Series, DataFrame
from scipy import stats
import statsmodels.api as sm
################################################################################################################################

unis = pd.read_excel('./2018-QS-World-University-Rankings-Top200.xlsx', index_col='Rank')
del unis.index.name

unis

Populating the interactive namespace from numpy and matplotlib

,Institution Name,Location,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,Overall Score
1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,100.0,100.0,100.0,99.9,100.0,96.1,100.0
2,STANFORD UNIVERSITY,United States,100.0,100.0,100.0,99.4,99.6,72.7,98.7
3,HARVARD UNIVERSITY,United States,100.0,100.0,98.3,99.9,96.5,75.2,98.4
4,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,99.5,85.4,100.0,100.0,93.4,89.2,97.7
5,UNIVERSITY OF CAMBRIDGE,United Kingdom,100.0,100.0,100.0,78.3,97.4,97.7,95.6
...,...,...,...,...,...,...,...,...,...
196,TECHNISCHE UNIVERSITÄT DRESDEN,Germany,41.5,77.0,6.8,79.0,92.4,38.5,48.1
197,TEXAS A&M UNIVERSITY,United States,69.7,54.1,10.2,57.0,10.4,15.5,48.1
198,UNIVERSITAT AUTÓNOMA DE BARCELONA,Spain,72.1,41.5,19.0,43.7,21.5,28.6,48.1
199,TECNOLÓGICO DE MONTERREY (ITESM),Mexico,42.8,84.9,77.1,3.7,98.4,23.2,48.0
200,MAASTRICHT UNIVERSITY,Netherlands,30.8,39.0,35.4,73.3,95.9,100.0,47.9

In [25]:
# CELL2 – 2 marks

qsuk = pd.read_excel('./2018-QS-World-University-Rankings-Top200.xlsx', index_col=2)

qsukdf = qsuk[(qsuk.Location == 'United Kingdom')]
qsukdfn = qsukdf.reset_index()
qsukdfn.index = qsukdfn.index + 1

qsdf = qsukdfn.drop(['Location', 'Rank'], axis=1)

qsdf

,Institution Name,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,Overall Score
1,UNIVERSITY OF CAMBRIDGE,100.0,100.0,100.0,78.3,97.4,97.7,95.6
2,UNIVERSITY OF OXFORD,100.0,100.0,100.0,76.3,98.6,98.5,95.3
3,UCL (UNIVERSITY COLLEGE LONDON),99.7,99.5,99.1,74.7,96.6,100.0,94.6
4,IMPERIAL COLLEGE LONDON,99.4,100.0,100.0,68.7,100.0,100.0,93.7
5,KING'S COLLEGE LONDON (KCL),92.8,92.4,87.6,64.8,97.4,99.2,86.9
6,UNIVERSITY OF EDINBURGH,99.1,96.6,83.2,55.5,94.9,98.6,86.9
7,THE UNIVERSITY OF MANCHESTER,97.4,99.4,75.4,47.5,89.3,98.3,83.0
8,LONDON SCHOOL OF ECONOMICS AND POLITICAL SCIEN...,90.3,100.0,55.9,71.7,100.0,100.0,81.8
9,UNIVERSITY OF BRISTOL,85.7,95.5,79.2,56.4,87.9,79.2,79.5
10,THE UNIVERSITY OF WARWICK,83.5,98.9,51.2,54.1,98.0,99.0,74.4
11,UNIVERSITY OF GLASGOW,80.4,66.6,60.7,55.5,90.5,96.6,71.6
12,DURHAM UNIVERSITY,66.8,97.1,37.5,76.3,94.8,87.8,68.5
13,THE UNIVERSITY OF SHEFFIELD,69.8,69.9,64.3,50.1,83.6,96.8,67.0
14,THE UNIVERSITY OF NOTTINGHAM,69.9,87.5,59.5,46.3,89.5,86.5,66.8
15,UNIVERSITY OF BIRMINGHAM,74.7,88.6,48.2,47.2,90.9,86.0,66.8
16,UNIVERSITY OF ST ANDREWS,53.0,57.1,72.0,69.6,98.0,99.9,65.3
17,UNIVERSITY OF LEEDS,74.4,86.9,47.0,42.3,79.4,81.3,64.5
18,UNIVERSITY OF SOUTHAMPTON,62.1,58.4,62.6,56.0,92.7,95.3,63.9
19,QUEEN MARY UNIVERSITY OF LONDON (QMUL),56.2,49.7,61.0,43.3,98.0,99.6,58.3
20,LANCASTER UNIVERSITY,50.2,47.1,46.2,63.2,91.2,98.0,56.3
21,UNIVERSITY OF YORK,52.2,50.2,58.9,53.0,90.9,66.2,56.3
22,CARDIFF UNIVERSITY,57.1,63.0,56.6,39.5,70.9,79.6,56.0
23,UNIVERSITY OF ABERDEEN,39.6,45.7,53.7,59.0,95.5,97.5,52.7
24,UNIVERSITY OF EXETER,47.2,70.6,31.1,58.6,89.8,84.3,52.7
25,UNIVERSITY OF BATH,45.3,80.9,28.2,56.9,94.5,90.4,52.6
26,NEWCASTLE UNIVERSITY,42.6,66.4,56.5,42.9,90.4,83.9,52.4
27,UNIVERSITY OF LIVERPOOL,45.4,47.5,53.0,38.7,82.3,96.5,50.3
28,UNIVERSITY OF READING,39.4,55.8,41.3,51.6,88.1,92.5,49.1

In [ ]:
# CELL3 – 5 marks

In [ ]:
# CELL4 – 9 marks

In [ ]:
# CELL5 – 7 marks

In [ ]:
# CELL6 – 8 marks

In [ ]:
# CELL7 – 14 marks

In [ ]:
# CELL8 – 13 marks

In [ ]:
import scipy
print(scipy.__version__)