In [6]:
# CELL1 – 2 marks
################################################################################################################################
#  libraries needed for the coursework
%pylab inline
import pandas as pd
from pandas import Series, DataFrame
from scipy import stats
import statsmodels.api as sm
################################################################################################################################

unis = pd.read_excel('./2018-QS-World-University-Rankings-Top200.xlsx', index_col='Rank')

unis

Populating the interactive namespace from numpy and matplotlib

,Institution Name,Location,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,Overall Score
Rank,,,,,,,,,
1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,100.0,100.0,100.0,99.9,100.0,96.1,100.0
2,STANFORD UNIVERSITY,United States,100.0,100.0,100.0,99.4,99.6,72.7,98.7
3,HARVARD UNIVERSITY,United States,100.0,100.0,98.3,99.9,96.5,75.2,98.4
4,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,99.5,85.4,100.0,100.0,93.4,89.2,97.7
5,UNIVERSITY OF CAMBRIDGE,United Kingdom,100.0,100.0,100.0,78.3,97.4,97.7,95.6
...,...,...,...,...,...,...,...,...,...
196,TECHNISCHE UNIVERSITÄT DRESDEN,Germany,41.5,77.0,6.8,79.0,92.4,38.5,48.1
197,TEXAS A&M UNIVERSITY,United States,69.7,54.1,10.2,57.0,10.4,15.5,48.1
198,UNIVERSITAT AUTÓNOMA DE BARCELONA,Spain,72.1,41.5,19.0,43.7,21.5,28.6,48.1
199,TECNOLÓGICO DE MONTERREY (ITESM),Mexico,42.8,84.9,77.1,3.7,98.4,23.2,48.0
200,MAASTRICHT UNIVERSITY,Netherlands,30.8,39.0,35.4,73.3,95.9,100.0,47.9

In [12]:
# CELL2 – 2 marks

qsuk = pd.read_excel('./2018-QS-World-University-Rankings-Top200.xlsx', index_col=2)

qsukdf = qsuk[(qsuk.Location == 'United Kingdom')]
# qsukdfn = qsukdf.drop('Location', axis=1)
del qsukdf.index.name

qsukdfn

AttributeError: Rank

In [ ]:
# CELL3 – 5 marks

In [ ]:
# CELL4 – 9 marks

In [ ]:
# CELL5 – 7 marks

In [ ]:
# CELL6 – 8 marks

In [ ]:
# CELL7 – 14 marks

In [ ]:
# CELL8 – 13 marks

In [ ]:
import scipy
print(scipy.__version__)